---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<div class="hero min-h-screen">
		<div class="hero-content text-center">
			<div class="max-w-md">
				<h1>Hi, my name is James and I am a web developer</h1>
				<p>
					I’m a front-end developer based in Wilton, NH. I mostly use React, but I can adapt to whatever tools are required. I have experience working in HTML, CSS, JavaScript, TypeScript, WordPress, and PHP. When I’m not coding, you’ll find me cycling, hiking or skiing. I’d love you to check out my work.
				</p>
				<button class="btn btn-primary">Get Started</button>
			</div>
		</div>
	</div>
</Layout>
