---
import '../styles/main.css'
---
<!doctype html>
<html lang="en" data-theme="coffee">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Jimmy Hannan | Web Developer</title>
	</head>
	<body>
		<div class="prose prose-headings:text-primary max-w-none">
			<slot />
		</div>
	</body>
</html>

